page-user-notfication {
.header{
  font-weight: 700;
}
.contentNotif{
    font-size: 16px;

}
.errorBlock{
    margin: 30px;
      .total-text{
        text-align: center;
        font-weight: 600;
        font-size: 15px;
        color: #585757;
        margin: 10px 0px;
      }
    }
}
