<ion-header>
  <ion-navbar [color]="companyName == 'MIBL' ? 'theme-red':'theme-red'">
    <ion-title>Mark Attendance</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-4 text-center>
      <button ion-button icon-only clear type="submit">
        <span *ngIf="loginStatus == 'I'">Punch In</span>
        <span *ngIf="loginStatus == 'O'">Punch Out</span>
      </button>
    </ion-col>
    <ion-col col-8>
      <ion-input placeholder="" class="currentDate" [value]="formatDate(currentTime,'DD-MMM-YYYY HH:mm')" disabled></ion-input>
    </ion-col>
  </ion-row>
  <!-- <div #map id="map"></div> -->
  <iframe width="100%" height="250" #map id="map" *ngIf="mapSrc" frameborder="0" style="border:0" [src]="mapSrc" allowfullscreen></iframe>
  
  <button id="resetButtom"><img  src="assets/img/recenter.svg" style="width: 25px;height: 25px;"></button>
  <div text-center margin-top>
    <button *ngIf="loginStatus == 'I'" ion-button color="dark-gray" class="btn-large" (click)="markAttendance()">Punch In</button>
    <button *ngIf="loginStatus == 'O'" ion-button color="dark-gray" class="btn-large" (click)="markAttendance()">Punch Out</button>
  </div>
</ion-content>
